
//  #categories-3 ul li.cat-item ul.children {
//   padding:15px 0 15px 15px;
//  }
  
 #categories-3 ul li.cat-item ul.children
 li a{
  font-weight:normal;
  background-image: none;
 }

 //後で消す 
.c-title-aside {
  font-size: 2.5rem;
}