.c-title-hero {
  color: #fff;
  font-size: 3.6rem;
  line-height: 2rem;
  span {
    font-size: 1.6rem;
    font-weight: 100;
    @include breakpoint ( ipad-pc ) {
      vertical-align: middle;
    }
  }
}

.c-title-takeout {
  color: #EAEAEA;
  font-size: 4rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
  &::after {
    content   : "";
    width     : 50px;
    height    : 6px;
    background: #fff;
    position  : absolute;
    top: 75px;
    left: 0;
  }
}
.c-title-eatin {
  color: #ffffff;
  font-size: 4rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
  &::after {
    content   : "";
    width     : 50px;
    height    : 6px;
    background: #fff;
    position  : absolute;
    top: 75px;
    left: 0;
  }
}

.c-title-box {
  font-size: 2.2rem;
}
.c-title-aside {
  font-size: 2.5rem;
}

.c-title-map {
  font-size: 3.5rem;
  position: relative;
  &::after {
    content   : "";
    width     : 100px;
    height    : 3px;
    background: #fff;
    position  : absolute;
    top: 75px;
    left: 0;
  }
}

.c-title-menu {
  font-size: 2.8rem;
  @include breakpoint ( ipad ) {
    font-size: 3.6rem;
  }
}
.c-title-single {
  font-size: 2.8rem;
  margin-bottom: 35px;
  @include breakpoint ( ipad ) {
    font-size: 3.6rem;
    margin-bottom: 65px;
  }
}

.c-title-single__smaller {
  font-size: 2.4rem;
}

.c-title-single__smallest {
  font-size: 2.0rem;
}