.p-bar {
  width: 100vw;
  height: 80px;
  background: $color-base;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 20px;
  z-index: 100;
  @include breakpoint ( pc ) {
    display: none;
  }
}