.p-map {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.p-map__layer1 {
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.6);
  @include breakpoint ( pc ) {
    width: 50%;
  }
}
.p-map__layer2 {
  height: 50%;
  background: rgba($color: #000000, $alpha: 0.3);
  @include breakpoint ( ipad ) {
    height: 100%;
  }
  @include breakpoint ( pc ) {
    width: 100vw;
    height: 100%;
  }
}

.p-map__content {
  padding: 40px;
  @include breakpoint ( pc ) {
    width: 50%;
    padding: 90px 125px 130px 100px;
  }
}

.p-map__comment {
  font-size: 1.4rem;
  line-height: 4rem;
  @extend .row;
  -webkit-line-clamp: 16;
  @include breakpoint ( pc ) {
    font-size: 1.6rem;
  }
}