// ページ単位で唯一の要素かを判断基準に設定
// クラスではなく、idにしても支障がないか
// 具体的には、index.htmlでクラス名を検索したときに検索結果が1つになることが条件

.l-aside {
  position: fixed;
  left: 100%;
  color: $color-menu;
  background: #F2EDE9;
  width: 20%;
  min-width: 300px;
  z-index: 100;
  height: 100vh;
  // height: calc(100vh - 200px);
  overflow-y: scroll;
  &.is-open {
    left: 10%;
    width: 90%;
    @include breakpoint ( ipad ) {
      left: 55%;
      width: 45%;
    }
  }
  @include breakpoint ( pc ) {
    position: inherit;
    height: inherit;
  }
  li {
    line-height: 4rem;
  }
}

.l-aside__title {
  width: 100vw;
  height: 80px;
  background: $color-base;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 20px;
  @include breakpoint ( pc ) {
    all: inherit;
  }
}